package main

templ hello(name string) {
	<button
        hx-boost="true"
        hx-confirm=""
        hx-delete=""
        hx-disable
        hx-disabled-elt="this"
        hx-disinherit="*"
        hx-encoding
        hx-ext=""
        hx-ext=""
        hx-get=""
        hx-headers='{"myHeader": "My Value"}'
        hx-history="false"
        hx-history-elt
        hx-include="[name='email']"
        hx-indicator=""
        hx-on:
        hx-params="*"
        hx-patch=""
        hx-post=""
        hx-preserve
        hx-prompt=""
        hx-push-url="true"
        hx-put=""
        hx-replace-url=""
        hx-request=''
        hx-select=""
        hx-select-oob=""
        hx-swap=""
        hx-sync=""
        hx-target=""
        hx-trigger=""
        hx-validate
        hx-vals='{"myVal": "My Value"}'
    >
    Click me
    </button>
}